/** Custom styles go here! **/

/* DASH page */
.dash {
    .box-shadow(1px 1px rgba(0,0,0,.2));
}
.air-quality-bar {
    display: inline;
    position: relative;
    float: left;
    width: 50%;
}

.main-dashboard {
 //   border: 1px solid red;
}
.air-qual-dial {
//  height: 175px;
 // width: 340px;
//  top: -40px;
  left: -30px;
  position: relative;
 // float:left;
 // position: absolute;
}

//.air-qual-box { padding: 35px 5px 5px 10px; width: 95%; float: left; margin-bottom: 10px;}
.air-qual-value { font-size: 30px; left: 45%; position: relative; top: -35px; }
.air-qual-gradient {
    width: 90%;
    height: 25px;
    border-radius: 2px;
    float: right;
    margin-right: 15px;
    padding-left: 5%;
    background-color: #D82F2F;
background: -webkit-gradient(linear, left center, right center, from(#37B726), to(#D82F2F), color-stop(.5,#EAE844));
background: -moz-linear-gradient(left, #37B726 0%, #EAE844 50%, #D82F2F 100%);

}
.air-qual-gradient i {
    position: relative;
    display: block;
    top:-35px;

}
.current-averages {
    margin: inherit 10px 15px 10px;
    padding-top: 3px;
    padding-bottom: 23px;
}
.well .now-data {
    text-align: center;
    position: relative;
   // padding: 0;
    width: 24.5%;
    float: left;
    font-size: 1em;
    border-right: 1px solid rgba(0,0,0,.2);
    overflow: hidden;
    .box-shadow(inset -1px 0px 1px rgba(255,255,255,.95));
}
.now-data:last-child {
        border-right: none;
    }
.air-quality { color: @grayDark; white-space:nowrap; }
.temp { color: @red; }
.humidity { color: @blue; }
.co2 { color: @purple; padding-top: 1px;}
.average { display: block;}

.trend-box { clear: both; float: right; margin-bottom: 12px; border: 1px solid red;}

.graph {

   // background-color: rgba(0,0,0,.05);
    height: 300px;


}
#action_taken {
  .close { font-size: 30px;}
}


.recent-event {
    padding: 6px 0px 0px 0px;
  //  border: 1px solid rgba(0,0,0,.2);
    //.border-radius(3px);
   // .box-shadow(inset 1px 1px 1px rgba(0,0,0,.15));
    i { margin-left:10px; padding-right: 10px;position: relative; top: -5px;}
    h4 { margin-bottom:15px; padding-bottom: 12px; width: 100%; padding-top: 5px;  border-bottom: 1px solid rgba(33,33,33,.15); .box-shadow(0 2px 1px rgba(255,255,255,.9)); }
    p {padding-left: 10px; padding-right: 10px;}
    .dismiss  {
        right:0;
       // top: 2px;
        font-size: 16px;
          padding: 0;
          width: 50%;
          cursor: pointer;
          background: transparent;
       //   border: 0;
          float:left;
          -webkit-appearance: none;
 
          padding: 12px 0px 12px 0px;
      //  border-left: 1px solid rgba(33,33,33,.15);
    }
    .improve {
     // right:0;
       // top: 2px;
        font-size: 16px;
          padding: 0;
          cursor: pointer;
          background: transparent;
          
         // float: right;
          width: 50%;
          -webkit-appearance: none;
        //  border-top: 1px solid red;
          padding: 12px 0px 12px 0px;
    }
}
.alert .dismiss { .dismiss-mixin(darken(@warningBorder,40%));}
.alert .improve { .improve-mixin(darken(@warningBorder,40%)); }
.alert-success .dismiss { .dismiss-mixin(darken(@successBorder,40%));}
.alert-success .improve { .improve-mixin(darken(@successBorder,40%)); }
.alert-error .dismiss { .dismiss-mixin(darken(@errorBorder,40%));}
.alert-error .improve { .improve-mixin(darken(@errorBorder,40%)); }

.dismiss-mixin (@bordercolor) { border: 0; border-right: 1px solid @bordercolor; border-top: 1px solid @bordercolor; background: lighten(@bordercolor, 40%);}
.improve-mixin (@bordercolor) { border: 0; border-top: 1px solid @bordercolor; background: lighten(@bordercolor, 40%);}
/* EXPLORE page */

.explore-header {
    h2 { float: left;}
    span {
        font-size: 16px;
        margin-right: 10px;
    }
}

.graph-controls {
    border: 1px solid rgba(0,0,0,.15);
    float: right;
    padding: 10px;
    margin-right:0;
}
.graph-selected {
    margin: 0 5px;
}
.selection-details { max-height: 680px;}
.selection-details h3 { text-align: center; }
.selection-details .current-data {
    margin: inherit 10px 15px 10px;
    padding-top: 10px;
    padding-bottom: 30px;
}
.explore-graph {
    //background-color: rgba(0,0,0,.2);
    margin-top: 10px;
   // height: 800px;
    clear:both;
}
.ex-tooltip {
  display: none;
  background: rgba(0,0,0,.4);
  border-radius: 3px;
  border: 1px solid rgba(0,0,0,.7);
  .box-shadow(2px 2px 3px rgba(0,0,0,.3));
  padding: 3px;
  color: rgba(255,255,255,.9);
}
.chart-container h4 {
  //margin-left: 20px;
  padding-top: -5px;
  margin-left: 20px;
  margin-bottom: -10px;

  //line-height: 12px;
}

.graph-details {
    position: relative;
    height: 200px;
    background-color:#fff;
    overflow: auto;
    overflow-y: scroll;
    border-bottom: 1px solid rgba(0,0,0,.15);
    .box-shadow(~"inset 0 2px 4px rgba(0,0,0,.3), inset 0 -2px 4px rgba(0,0,0,.3)");
  //  max-width:230px;
  //  max-height:100px;
}


.graph-details .summary-data {
    padding: 10px;
    border: 1px solid rgba(0,0,0,.15);
    border-bottom: none;
    .summary-data-date {
        margin-right: 10px;
    }
}

.graph-details .summary-data:hover {
    background: rgba(81,160,201,.3);
}



/* SETUP page */
.setup_step {
  position: relative;
  z-index: 1050;
  background-color: #ffffff;
  border: 1px solid #999;
  border: 1px solid rgba(0, 0, 0, 0.3);
	*border: 1px solid #999;

  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding-box;
  background-clip: padding-box;
  outline: none;
}

.modal-header {
  padding: 20px 15px;
  border-bottom: 1px solid #eee;
  // Close icon
  .close { margin-top: 2px; }
  // Heading
  h3 {
    margin: 0;
    line-height: 30px;
  }
}

.progress {
  margin-top: 5px;
  margin-bottom: 0px;
}

.form_fields {
  padding-left:9%;
}

#slider_wrapper {
	width:100%;
	height:100%;
	top:0;left:0;
	overflow:hidden;
}

	#slider_mask {
		width:500%;
		height:100%;
	}

	.slider_item {
		width:20%;
		height:100%;
		float:left;
	}

.hide{
	display: none;
}




/* improve page */

#improved .heading {
  background-color: @successBackground;
  border-color: @successBorder;
  border-bottom: 0;
}
#improved .heading .accordion-toggle {
  display: block;
  padding: 8px 15px;
  color: @successText;
}

#improved h4 {
  color: @successText;
}

#worsened .heading {
  background-color: @errorBackground;
  border-color: @errorBorder;
  border-bottom: 0;
}
#worsened .heading .accordion-toggle {
  display: block;
  padding: 8px 15px;
  color: @errorText;
}

#worsened h4 {
  color: @errorText;
}

.box
{
  margin-top: 10px;
  padding: 10px 0px;
  background-color:#E0E0E0;
  text-shadow: 0 1px 0 rgba(255,255,255,.5);
  /*border: 1px solid #999;*/
  .border-radius(@baseBorderRadius);
}

.box div
{
    font-size: 12px;
}


#alert_settings
{
  padding-left: 30px;
  border-left: 1px solid #999;
}
