/** Custom styles go here! **/
.air-quality-bar {
    display: inline;
    position: relative;
    float: left;
    width: 50%;
}

.main-dashboard {
    border: 1px solid red;
}
.current-data {
    padding-bottom: 40px;
  //  position: relative;
}
.data {
    text-align: center;
    position: relative;
    width: 25%;
    float: left;
}