/** Custom styles go here! **/

body{
    background-color: #f5f5f5;
}

.navbar{
    background-color: white;
}

.content{
    background-color: white;
    padding: 25px;
    padding-top:10px;
    border: 1px solid #e5e5e5;
    .border-radius(20px);
}



/* DASH page */
.dash {
    .box-shadow(1px 1px rgba(0,0,0,.2));
}
.air-quality-bar {
    display: inline;
    position: relative;
    float: left;
    width: 50%;
}

.main-dashboard {
 //   border: 1px solid red;
}
.air-qual-dial {
//  height: 175px;
 // width: 340px;
//  top: -40px;
  left: -30px;
  position: relative;
 // float:left;
 // position: absolute;
}
.dial-label { position: relative; top: -60px; width:80px; left: 50%; margin-left: -40px; }
.dial-label .label {font-size: 20px; padding:6px 0px; width: 100%; text-align: center;}
//.air-qual-box { padding: 35px 5px 5px 10px; width: 95%; float: left; margin-bottom: 10px;}

.current-averages {
    margin: inherit 10px 15px 10px;
    padding-top: 3px;
    padding-bottom: 23px;
}
.now-data {
    text-align: center;
    position: relative;
   // padding: 0;
    width: 24.5%;
    float: left;
    font-size: 1em;
    border-right: 1px solid rgba(0,0,0,.2);
    overflow: hidden;
    .box-shadow(inset -1px 0px 1px rgba(255,255,255,.95));
}
.current-values .now-data { width: 33%;}

.now-data:last-child {
        border-right: none;
    }
.air-quality { color: @grayDark; white-space:nowrap; }
.temp { color: @red; }
.humidity { color: @blue; }
.co2 { color: @purple; padding-top: 1px;}
.average { display: block;}
.heading-center{ text-align: center;}
.value-listing h3 { float: left;}
.value-listing { .clearfix(); clear:both; margin-bottom: 25px; width: 100%; display: block;}
.metric { font-size: 24.5px; float: left;  text-align: right;}
//.sensor-value {  padding: 15px; position: relative; top:-15px;margin-left: 15px; float:right; background-color: @wellBackground; font-size: 26px;.border-radius(@baseBorderRadius);text-shadow: 0 1px 0 rgba(255,255,255,.5); border: 2px solid darken(@wellBackground,7%);.box-shadow(inset 0 1px 1px rgba(0,0,0,.05));}
.avg { color: @gray; font-size: 18px; line-height: 18px; padding: 20px; top:-2px;}
//.trend-box { clear: both; float: right; border: 1px solid gray; width: 100%;}
.trend-table {position: relative; width: 100%;}
.trend-table tr td {text-align: center; border: none; vertical-align: center; }
.trend-table tr td:first-child { text-align: right; font-weight: bold; vertical-align: middle; }
.trend-table tr { height: 70px;}

.sensor-value { padding: 15px; width: 80%; background-color: @wellBackground; font-size: 26px;.border-radius(@baseBorderRadius); text-shadow: 0 1px 0 rgba(255,255,255,.5); border: 2px solid darken(@wellBackground,7%);.box-shadow(inset 0 1px 1px rgba(0,0,0,.05));}
.regional { padding: 15px; width: 80%; background-color: @wellBackground; font-size: 26px;.border-radius(@baseBorderRadius); text-shadow: 0 1px 0 rgba(255,255,255,.5); border: 2px solid darken(@wellBackground,7%);.box-shadow(inset 0 1px 1px rgba(0,0,0,.05)); }
.graph {

   // background-color: rgba(0,0,0,.05);
    height: 300px;


}
.move-up { position: relative; top:-40px;}
#action_taken {
  .close { font-size: 30px;}
}

#tip1,#tip2, #tip3, #tip4 { display: none;}
.recent-event {
    padding: 6px 0px 0px 0px;
    margin-bottom:20px;
  //  border: 1px solid rgba(0,0,0,.2);
    //.border-radius(3px);
   // .box-shadow(inset 1px 1px 1px rgba(0,0,0,.15));
    i { margin-left:10px; padding-right: 10px;position: relative; top: -5px;}
    h4 { margin-bottom:15px; padding-bottom: 12px; width: 100%; padding-top: 5px;  border-bottom: 1px solid rgba(33,33,33,.15); .box-shadow(0 2px 1px rgba(255,255,255,.9)); }
    p {padding-left: 10px; padding-right: 10px;}
    .dismiss  {
        right:0;
       // top: 2px;
        font-size: 16px;
          padding: 0;
          width: 50%;
          cursor: pointer;
          background: transparent;
       //   border: 0;
          float:left;
          -webkit-appearance: none;

          padding: 12px 0px 12px 0px;
      //  border-left: 1px solid rgba(33,33,33,.15);
    }
    .improve {
     // right:0;
       // top: 2px;
        font-size: 16px;
        //color: #666;
          padding: 0;
          cursor: pointer;
          background: transparent;

         // float: right;
          width: 50%;
          -webkit-appearance: none;
        //  border-top: 1px solid red;
          padding: 12px 0px 12px 0px;
    }
}
.alert .dismiss { .dismiss-mixin(darken(@warningBorder,40%));}
.alert .improve { .improve-mixin(darken(@warningBorder,40%)); }
.alert-success .dismiss { .dismiss-mixin(darken(@successBorder,40%));}
.alert-success .improve { .improve-mixin(darken(@successBorder,40%)); }
.alert-error .dismiss { .dismiss-mixin(darken(@errorBorder,40%));}
.alert-error .improve { .improve-mixin(darken(@errorBorder,40%)); }
.alert-info .dismiss { .dismiss-mixin(darken(@infoBorder,30%));}
.alert-info .improve { .improve-mixin(darken(@infoBorder,30%)); }

.dismiss-mixin (@bordercolor) { border: 0; border-right: 1px solid @bordercolor; border-top: 1px solid @bordercolor; background: lighten(@bordercolor, 40%);}
.improve-mixin (@bordercolor) { border: 0; border-top: 1px solid @bordercolor;  background: lighten(@bordercolor, 40%);}
/* EXPLORE page */
#selection2 { display: none;}
.events-counter { float: right; margin-top: 12px;margin-right:20px;}
.explore-header {
    h2 { float: left;}
    span {
        font-size: 16px;
        margin-right: 10px;
    }
}

.graph-controls {
    border: 1px solid rgba(0,0,0,.15);
    float: right;
    padding: 10px;
    margin-right:0;
}
.graph-selected {
    margin: 0 5px;
}
.selection-details { max-height: 680px;}
.selection-details h3 { text-align: center; }
.selection-details .current-data {
    margin: inherit 10px 15px 10px;
    padding-top: 10px;
    padding-bottom: 30px;
}
.explore-graph {
    //background-color: rgba(0,0,0,.2);
    margin-top: 10px;
   // height: 800px;
    clear:both;
    position: relative;
}
.ex-tooltip {
  display: none;
  background: rgba(0,0,0,.4);
  border-radius: 3px;
  border: 1px solid rgba(0,0,0,.7);
  .box-shadow(2px 2px 3px rgba(0,0,0,.3));
  padding: 3px;
  color: rgba(255,255,255,.9);
}
.chart-container figure { margin:0;margin-left:-25px;}
.chart-container h4 { position:relative;left:40px; top:15px; width: 150px;}
//.explore-graph figure {position: relative; left:-60px; margin:0; margin-left: 20px;}

.chart-container:nth-child(2) {position: relative; top: -25px;}
.chart-container:nth-child(3) {position: relative; top: -50px;}
.chart-container:nth-child(4) {position: relative; top: -75px;}


.explore-graph h4 {
  //margin-left: 20px;

 // width: 100px;
 // background-color: rgba(255,255,255,.8);


  //line-height: 12px;
}

.graph-details {
    position: relative;
    height: 200px;
    background-color:#fff;
    overflow: auto;
    overflow-y: scroll;
    border-bottom: 1px solid rgba(0,0,0,.15);
    .box-shadow(~"inset 0 2px 4px rgba(0,0,0,.3), inset 0 -2px 4px rgba(0,0,0,.3)");
  //  max-width:230px;
  //  max-height:100px;
}


.graph-details .summary-data {
    padding: 10px;
    border: 1px solid rgba(0,0,0,.15);
    border-bottom: none;
    .summary-data-date {
        margin-right: 10px;
    }
}

.graph-details .summary-data:hover {
    background: rgba(81,160,201,.3);
}
.accordion-toggle { color: #666;}
.accordion-alert .accordion-heading {
  border: 1px solid darken(@errorBorder,20%);
  border-left: 5px solid darken(@errorBorder,40%);
   .border-radius(0);
}
.accordion-alert .accordion-inner {border: 1px solid darken(@errorBorder,20%);border-top: none;}

.accordion-warning .accordion-heading {
  border: 1px solid darken(@warningBorder,20%);
  border-left: 5px solid darken(@warningBorder,40%);
}
.accordion-warning .accordion-inner {border: 1px solid darken(@warningBorder,20%);border-top: none;}

.accordion-alert .accordion-heading:hover { background-color: @errorBorder;}
.accordion-warning .accordion-heading:hover { background-color: @warningBorder;}
.accordion-alert .accordion-heading a:hover, .accordion-warning .accordion-heading a:hover { text-decoration: none; color: #333;}
.accordion-warning .accordion-inner h5, .accordion-alert .accordion-inner h5 { margin-bottom: 3px; margin-top: 3px;}



/* LOGIN page */
.login-header { margin-top:10%;}
#login {
    h2 { text-align: center; margin-bottom: 25px;}
  //  margin-top:20%;
    padding: 20px;
    background-color: #ffffff;
    border: 1px solid rgba(0,0,0,.15);
    .border-radius(10px);

}

.login-buttons { width: 75%; margin: 0 auto;
  p {text-align: center;margin: 10px 5px;}
  }

/* SETUP page */
.setup_step {
  position: relative;
  z-index: 1050;
  background-color: #ffffff;
  border: 1px solid #999;
  border: 1px solid rgba(0, 0, 0, 0.3);
	*border: 1px solid #999;

  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding-box;
  background-clip: padding-box;
  outline: none;
}

.modal-header {
  padding: 20px 15px;
  border-bottom: 1px solid #eee;
  // Close icon
  .close { margin-top: 2px; }
  // Heading
  h3 {
    margin: 0;
    line-height: 30px;
  }
}

.progress {
  margin-top: 5px;
  margin-bottom: 0px;
}

.form_fields {
  padding-left:9%;
}

#slider_wrapper {
	width:100%;
	height:100%;
	top:0;left:0;
	overflow:hidden;
}

	#slider_mask {
		width:500%;
		height:100%;
	}

	.slider_item {
		width:20%;
		height:100%;
		float:left;
	}

.hide{
	display: none;
}

.heading a { color: #666;}
.heading a:hover { text-decoration: none; color: #333;}


/* improve page */

#uncategorized i, #improved i, #worsened i, #tips h3 i{
margin-top:8px;
}

.heading .average{
display:inline;
float:right;
}

.bad_highlight {
  color:red;
}

.good_highlight {
  color:green;
}

#improved {

//    .heading {
//        background-color: @successBackground;
//    }

    .heading:hover {
        background-color:@successBackground;
    }

    .accordion-inner {
        border-top: 1px solid darken(@successBackground,20%);
    }

    .heading .accordion-toggle {
      display: block;
      padding: 11px 15px;
      border-left:5px solid @successText;
    }

    .accordion-group {
      margin-bottom: 10px;
      border: 1px solid darken(@successBackground,20%);
      .border-radius(0);
    }

     h3 {color: @successText;}

}



#worsened {

//    .heading {
//      background-color: @errorBackground;
//    }

    .heading:hover {
        background-color:@errorBackground;
    }

     .heading .accordion-toggle {
      display: block;
      padding: 11px 15px;
      border-left:5px solid @errorText;
    }

    .accordion-inner {
        border-top: 1px solid darken(@errorBackground,20%);
    }

     .accordion-group {
      margin-bottom: 10px;
      border: 1px solid darken(@errorBackground,20%);
      .border-radius(0);
    }

     h3 {color: @errorText;}

}


#uncategorized{

//    .heading {
//      background-color: @warningBorder;
//    }

    .heading:hover {
        background-color:@warningBorder;
    }

    .accordion-inner {
        border-top: 1px solid darken(@warningBorder,20%);
    }

    .accordion-group {
      margin-bottom: 10px;
      .border-radius(0);
      border:  1px solid darken(@warningBorder,20%) ;;
    }

    .heading .accordion-toggle {
      display: block;
      padding: 11px 15px;
      border-left:5px solid darken(@warningBorder,20%);
    }

     h3{color: darken(@warningBorder,40%);}

    .accordion-inner button{
    margin-bottom: 10px;
    }
}

.tip_header{
  color: @infoText;
}

.improve-tip {
    padding: 0px;
    margin-bottom:20px;
    border: 1px solid rgb(176, 207, 223);
    .border-radius(3px);
    .text {padding: 20px 20px 0px 20px;}
    i {margin-top:2px;}
    p {padding-bottom: 10px;}


    .heading{
        background-color: #e6f6fa;
        padding:10px;
        border-bottom:1px solid #e5e5e5;
     }

    button{
        background-color: #e6f6fa;
        color: @infoText;
        border: 1px solid rgb(176, 207, 223);
        padding:7px 10px;
        margin: 0px 0px 10px 10px;
    }

    button:hover{
        background-color: darken(#e6f6fa,10%)
    }

}